@model PriCone.Models.viewModels.addCard
@{
    ViewBag.Title = "cardManager";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
@section header{
    <link rel="stylesheet" href="~/Content/cardManagerStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}
<div class="form-group">
    <form>
        <div class="pickChar">
            <select id="charId" name="char" class="custom-select mb-3" required>
                @foreach (var items in Model.listChar)
                {
                    <option value="@items.CharId">@items.CharName</option>
                }
            </select>
        </div>
        <div class="form-group submit">
            <input type="submit" size="30" class="form-control submit" id="pwd" value="Tải nhân vật lên" required>
        </div>
    </form>
</div>
<div id="tieude">
    <h4>Ảnh trang chi tiết</h4>
</div>
<div class="loadHere">

</div>

<script>
    $(document).ready(function () {
        if ('@Model.CharId' != null) {
            $('.loadHere').load('@Url.Action("getCardDetail", "Adm")?Id=' + '@Model.CharId');
        }
    });
</script>

<script>
    $('#charId').change(function (e) {
        e.preventDefault();
        e.stopPropagation();
        var Id = $(this).val();
        $('.loadHere').load('@Url.Action("getCardDetail", "Adm")?Id=' + Id);
    })
</script>

