@model PriCone.Models.dataModels.Characters
@{
    Layout = null;
}

<div id="left-box">
    <div id="icon-image">
        <b>Icon cho nhân vật</b>
        <br>
        <img id="icon" width="128" height="128" src="~/Images/charICon/@Model.Icon">
        <br>
        <input type="file" accept="image/*" value="Chọn ảnh" onchange="loadFile(event)">
    </div>
</div>
<div id="right-box">
    <form>
        <div id="input">
            <div class="form-group">
                <label for="usr">Tên:</label>
                <input type="text" size="50" class="form-control" id="charName" placeholder="Nhập tên nhân vật" value="@Model.CharName" required>
            </div>
            <div class="form-group">
                <label for="pwd">Chiều cao:</label>
                <input type="text" size="30" class="form-control" id="pwd" placeholder="Nhập chiều cao" value="@Model.Height" required>
            </div>
            <div class="form-group">
                <label for="pwd">Cân nặng:</label>
                <input type="text" size="20" class="form-control" id="pwd" placeholder="Nhập cân nặng" value="@Model.Weight" required>
            </div>
        </div>
        <div class="form-group">
            <label for="pwd">Sinh nhật:</label>
            <input type="date" class="form-control" id="pwd" value="" required>
        </div>
        <div class="form-group">
            <label for="pwd">Nhóm máu:</label>
            <input type="text" size="15" class="form-control" id="pwd" placeholder="Nhập nhóm máu" value="@Model.BloodType" required>
        </div>
        <div class="form-group">
            <label for="pwd">Chủng tộc:</label>
            <input type="text" size="25" class="form-control" id="pwd" placeholder="Nhập chủng tộc" value="@Model.Race" required>
        </div>
        <div class="form-group">
            <label for="pwd">Sở thích:</label>
            <input type="text" size="33" class="form-control" id="pwd" placeholder="Nhập sở thích" value="@Model.Hobbies" required>
        </div>
        <div class="form-group">
            <label for="pwd">Lồng tiếng:</label>
            <input type="text" size="50" class="form-control" id="pwd" placeholder="Nhập người lồng tiếng" value="@Model.VA" required>
        </div>
        <div class="form-group">
            <label for="pwd">Miêu tả:</label>
            <input type="text" size="30" class="form-control" id="pwd" placeholder="Nhập miêu tả" value="@Model.Description" required>
        </div>
        <div class="form-group">
            <label for="pwd">Chi tiết:</label>
            <input type="text" size="20" class="form-control" id="pwd" placeholder="Nhập chi tiết" value="@Model.Detail" required>
        </div>
        <div class="form-group">
            <select name="cars" class="custom-select mb-3" required>
                <option selected>Chọn bang hội nhân vật</option>
                @*@foreach (var items in ViewBag.listGuild)
                    {
                        <option value="@items.GuildId">@items.GuildName</option>
                    }*@
            </select>
        </div>
        <div class="form-group submit">
            <input type="submit" size="30" class="form-control submit" id="pwd" value="Sửa thông tin" required>
        </div>
    </form>
</div>
