@model PriCone.Models.dataModels.Characters
@{
    Layout = null;
}


@Html.ValidationSummary(true, null)
@using (Html.BeginForm("updateChar", "Adm", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="left-box">
        <div id="icon-image">
            <b>Icon cho nhân vật</b>
            <br>
            <img id="icon" width="128" height="128" src="~/Images/charICon/@Model.Icon">
            <br>
            <input name="Icon" type="file" accept="image/*" value="Chọn ảnh" onchange="loadFile(event)" required>
        </div>
    </div>
    <div id="right-box">
        <form>
            <div id="input">
                <div class="form-group">
                    <label for="usr">Tên:</label>
                    <input name="CharName" type="text" size="50" class="form-control" id="charName" placeholder="Nhập tên nhân vật" value="@Model.CharName" required>
                    <input name="CharId" type="hidden" size="50" class="form-control" id="charName" placeholder="Nhập tên nhân vật" value="@Model.CharId">
                </div>
                <div class="form-group">
                    <label for="pwd">Chiều cao:</label>
                    <input name="Height" type="text" size="30" class="form-control" id="pwd" placeholder="Nhập chiều cao" value="@Model.Height" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Cân nặng:</label>
                    <input name="Weight" type="text" size="20" class="form-control" id="pwd" placeholder="Nhập cân nặng" value="@Model.Weight" required>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd">Sinh nhật:</label>
                <input name="Birthday" type="date" class="form-control" id="pwd" value="@Model.Birthday" required>
            </div>
            <div class="form-group">
                <label for="pwd">Nhóm máu:</label>
                <input name="BloodType" type="text" size="15" class="form-control" id="pwd" placeholder="Nhập nhóm máu" value="@Model.BloodType" required>
            </div>
            <div class="form-group">
                <label for="pwd">Chủng tộc:</label>
                <input name="Race" type="text" size="25" class="form-control" id="pwd" placeholder="Nhập chủng tộc" value="@Model.Race" required>
            </div>
            <div class="form-group">
                <label for="pwd">Sở thích:</label>
                <input name="Hobbies" type="text" size="33" class="form-control" id="pwd" placeholder="Nhập sở thích" value="@Model.Hobbies" required>
            </div>
            <div class="form-group">
                <label for="pwd">Lồng tiếng:</label>
                <input name="VA" type="text" size="50" class="form-control" id="pwd" placeholder="Nhập người lồng tiếng" value="@Model.VA" required>
            </div>
            <div class="form-group">
                <label for="pwd">Miêu tả:</label>
                <input name="Description" type="text" size="30" class="form-control" id="pwd" placeholder="Nhập miêu tả" value="@Model.Description" required>
            </div>
            <div class="form-group">
                <label for="pwd">Chi tiết:</label>
                <input name="Detail" type="text" size="20" class="form-control" id="pwd" placeholder="Nhập chi tiết" value="@Model.Detail" required>
            </div>
            <div class="form-group">
                <select name="GuildId" class="custom-select mb-3" required>
                    <option selected>Chọn bang hội nhân vật</option>
                    @foreach (var items in ViewBag.listGuild)
                        {
                            <option value="@items.GuildId">@items.GuildName</option>
                        }
                </select>
            </div>
            <div class="form-group submit">
                <input type="submit" size="30" class="form-control submit" id="pwd" value="Sửa thông tin" required>
            </div>
        </form>
    </div>
}

<script>
    var loadFile = function (event) {
        var output = document.getElementById('icon');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>