@*@model PriCone.Models.viewModels.addViewModel*@
@{
    ViewBag.Title = "ThemNhanVat";
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Content/adminStyle.css">
}

@Html.ValidationSummary(true, null)
@using (Html.BeginForm("ThemNhanVat", "Adm", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="content">
        <div id="left-box">
            <div id="icon-image">
                <b>Icon cho nhân vật</b>
                <br>
                <img id="iconPick" width="128" height="128" src="https://redive.estertion.win/icon/unit/100531.webp">
                <br>
                <input type="file" name="Icon" accept="image/*" onchange="loadFile(event)" required>
            </div>
        </div>
        <div id="right-box">
            <div id="input">
                <div class="form-group">
                    <label for="usr">Tên:</label>
                    <input name="CharName" type="text" size="50" class="form-control" id="usr" placeholder="Nhập tên nhân vật" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Chiều cao:</label>
                    <input name="Height" type="text" size="30" class="form-control" id="pwd" placeholder="Nhập chiều cao" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Cân nặng:</label>
                    <input name="Weight" type="text" size="20" class="form-control" id="pwd" placeholder="Nhập cân nặng" required>
                </div>
            </div>
            <div id="input">
                <div class="form-group">
                    <label for="pwd">Sinh nhật:</label>
                    <input name="Birthday" type="date" class="form-control" id="pwd" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Nhóm máu:</label>
                    <input name="BloodType" type="text" size="15" class="form-control" id="pwd" placeholder="Nhập nhóm máu" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Chủng tộc:</label>
                    <input name="Race" type="text" size="25" class="form-control" id="pwd" placeholder="Nhập chủng tộc" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Sở thích:</label>
                    <input name="Hobbies" type="text" size="33" class="form-control" id="pwd" placeholder="Nhập sở thích" required>
                </div>
            </div>
            <div id="input">
                <div class="form-group">
                    <label for="pwd">Lồng tiếng:</label>
                    <input name="VA" type="text" size="50" class="form-control" id="pwd" placeholder="Nhập người lồng tiếng" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Miêu tả:</label>
                    <input name="Description" type="text" size="30" class="form-control" id="pwd" placeholder="Nhập miêu tả" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Chi tiết:</label>
                    <input name="Detail" type="text" size="20" class="form-control" id="pwd" placeholder="Nhập chi tiết" required>
                </div>
            </div>
            <div class="form-group">
                <select name="GuildId" class="custom-select mb-3" required>
                    <option selected>Chọn bang hội nhân vật</option>
                    @foreach (var items in ViewBag.listGuild)
                    {
                        <option value="@items.GuildId">@items.GuildName</option>
                    }
                </select>
            </div>
            <div class="form-group submit">
                <input type="submit" size="30" class="form-control submit" id="pwd" value="Thêm nhân vật" required>
            </div>
        </div>
    </div>
}

<div id="table-character">
    <table id="list-character">
        <tr>
            <th>Mã nhân vật</th>
            <th>Tên nhân vật</th>
            <th>Bang hội</th>
            <th>Hình ảnh</th>
            <th>Chỉnh sửa</th>
        </tr>
        @foreach (var items in ViewBag.listChar)
        {
            <tr>
                <td>@items.CharId</td>
                <td>@items.CharName</td>
                <td>@items.Guild.GuildName</td>
                <td><img width="70" src="~/Images/charICon/@items.Icon"></td>
                <td>
                    <a href="#">Chỉnh sửa | </a>
                    <a href="#" style="color: red;">Xoá</a>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('iconPick');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>

<!-- <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
<script type="text/javascript">
    $i = 0;

    function doRefresh() {
        $i = $i + 1;
        document.getElementById("here").innerHTML = $i;
    }
    $(function() {
        setInterval(doRefresh, 3000);
    });

</script> -->
