@model PriCone.Models.dataModels.Characters
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_CharLayout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Content/detailCharStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}

<div id="name">@Model.CharName</div>
<div id="thanhchitiet">
    <a class="btn active" href="javascript:void(0);" onclick="setSection('sectionChiTiet', '@Model.CharId')">Thông tin chung</a>
    <a class="btn" href="javascript:void(0);" onclick="setSection('sectionCard', '@Model.CharId')">Hình ảnh</a>
    <a class="btn" href="javascript:void(0);" onclick="setSection('sectionSkill', '@Model.CharId')">Kĩ năng</a>
    <a class="btn" href="javascript:void(0);">Cốt truyện</a>
    <a class="btn" href="javascript:void(0);">Comming soon...</a>
</div>
<div id="ThongTinNhanVat">
    @*  load ở đây    *@
</div>

<div id="content-history">
    <h3>4. Phần bình luận cho nhân vật</h3>
    <div class="non-feed-back">
        <div class="type-comment">
            <div id="type-pic">
                <img src="~/Content/main.png">
            </div>
            <div id="comment">
                <form>
                    <div class="form-group">
                        <input name="GuestName" id="Name-feedback" type="text" class="form-control" placeholder="Mời nhâp tên..." required>
                        <textarea name="Comment" class="form-control" id="Comment-feedback" rows="9" placeholder="Mời để lại bình luận..." required></textarea>
                        <input id="send-feedback" style="background-color: pink; color: white;" type="submit" value="Gửi" class="form-control">
                        <input type="hidden" id="Char-feedback" name="CharId" value="@Model.CharId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-body"></div>
<div class="loading" id="load">
    <img src="~/Content/62K58PICb88i68HEwVnm5_PIC2018.gif">
</div>

<script>
    $(document).ready(function (e) {
        document.getElementById('load').style.display = "block";
        setTimeout(
            function () {
                document.getElementById('load').style.display = "none";
            }, 3000);
        $('#modal-body').load('@Url.Action("comment", "Char")?Id=' + '@Model.CharId');
        $('#ThongTinNhanVat').load('@Url.Action("setSection", "Char")?flag=sectionChiTiet&&Id=' + '@Model.CharId');
    })
</script>

<script>
    $("#send-feedback").click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        var content = {
            'GuestName': $('#Name-feedback').val(),
            'Comment': $('#Comment-feedback').val(),
            'CharId': $('#Char-feedback').val()
        };
        $.ajax({
            url: "../comment",
            type: "POST",
            data: content,
/*            contentType: "application/json",*/
            success: function (data) {
                $('#modal-body').load('@Url.Action("comment", "Char")?Id=' + '@Model.CharId');
                $("html, body").animate({ scrollTop: $(document).height() }, 1000);
            }
        })
    })
</script>

<script>
    function chancePic(flag) {
        $('#myImage').attr('src', '/Images/charCard/' + flag + '@Model.CharId' + '.png?' + Math.random()+'');
    }
</script>

<script>
    function setSection(flag, Id) {
        $('#ThongTinNhanVat').load('@Url.Action("setSection", "Char")?flag=' + flag + '&&Id=' + Id);
    }
</script>

