@model PriCone.Models.dataModels.Characters
@{
    Layout = null;
}

<div id="img-right">
    <div id="button-img">
        <a href="javascript:void(0);" onclick="chancePic('MH')">Mùa hè</a>
        <a href="javascript:void(0);" onclick="chancePic('MX')">Mùa xuân</a>
        <a href="javascript:void(0);" onclick="chancePic('MD')">Mùa đông</a>
    </div>
    <img id="pic" src="~/Images/charCard/default.png">
    <div id="bottom-img">
        <b>@Model.CharName</b>
        <br />
        <b>@Model.Detail</b>
    </div>
    <div class="like">
        <button id="like" class="btn btn-danger">
            @if (ViewBag.checkLike == true)
            {
                <img width="30px" src="~/Content/heart_80px.png">
            }
            else
            {
                <img width="30px" src="~/Content/heart_32px.png">
            }
            Thả tim
        </button>
        <button href="#" id="save" class="btn btn-info">
            <img width="30px" src="~/Content/add_to_collection_30px.png">
            Lưu vào bộ sưu tập
        </button>
    </div>
</div>
<div id="content">
    <div id="content-infomation">
        <input id="charId" type="hidden" value="@Model.CharId">
        <h3>1. Thông tin cá nhân</h3>
        <p>Tên trong trò chơi: @Model.CharName</p>
        <p>Bang hội: @Model.Guild.GuildName</p>
        <p>Chủng tộc: @Model.Race</p>
        <p>Tuổi: 18+</p>
        <p>Sinh nhật: @Model.Birthday.Value.ToString("dd/MM/yyyy")</p>
        <p>Chiều cao: @Model.Height</p>
        <p>Trọng lượng: @Model.Weight</p>
        <p>Nhóm máu: @Model.BloodType</p>
        <p>Sở thích: @Model.Hobbies</p>
        <p>Liên kết: @Model.Description</p>
        <p>Diễn viên lồng tiếng: @Model.VA</p>
    </div>
    <div id="content-apperience">
        <h3>2. Ngoại hình</h3>
        <p>
            Pecorine is a human-race member in the game with long, orange hair and light blue eyes. Her hair extends below her waist and appears to fade into a slightly more yellow tinge. It mostly hangs freely, but a section is braided behind her right ear. She also has a noticeably large ahoge. On the left side of her head she has a red ribbon tied in her hair and she wears her Royal Armament, which is a jewel-looking tiara.
            She wears a blue and white blouse with a window cut around the collarbone area. On her right shoulder is a large armor plate. She has white gloves on both of her hands and a black sleeve that goes up her entire right arm.
            She wields a giant sword, which has a bitemark on the blade.
        </p>
    </div>
    <div id="content-history">
        <h3>3. Lịch sử phát triển nhân vật</h3>
        <p>
            <b>Arc 1</b>Pecorine first logged in to the Legend of Astrum after the events of Princess Connect. She met Yuuki and Hiyori, who both taught her how to play the game. In Princess Connect Re:Dive, Pecorine serves
            as the Princess of Landsol, and is the founder and leader of the guild 'Gourmet Edifice'. Pecorine possesses a unique ability with the use of her Royal Armament (王家の装備), which greatly boosts her physical capabilities; however, it drains
            her stamina in return. One day after having an outdoors bath, Pecorine comes under the attack of a monster. With her Royal Armament, she was able to make short work of it, but nearly collapses from hunger and fatigue shortly afterwards.
            While wondering through the forest, she runs into Kokkoro and Yuuki. After consuming Kokkoro's meal that was prepared for Yuuki, Yui runs into the group, under attack by a large horde of monsters. The party fight off the monsters and
            find an unconscious girl, left in their wake. The group picks up the girl and head safely back to the city of Landsol, where they part ways with Yui. The girl reveals her name to be Kyaru, and the four of them form the guild Gourmet
            Edifice, acquiring a guild house that is managed by Karin. Pecorine and the rest of her guild travel around Astraea during an unspecified time period in search of exotic foods. This led them to clash against numerous boss monsters,
            all of which fell to the guild's combined strength and were consumed shortly afterwards. When not going on adventures with her friends, Pecorine works part-time serving meals at a restaurant, and gets treated to free meals in return.
            <b>Arc 2</b>Pecorine has taken back her role as Princess and is once more going by the name 'Eustiana'. She is put in charge of making the decisions in regards to the rebuilding of Landsol. Upon hearing about Yuuki's condition, she
            works to gain some magic tools from the vault to hopefully discover a cure. Though on her way to deliver said magic tools, she is distracted by the festival food and is found by the members of Gourmet Edifice and Twinkle Wish enjoying
            some meat pies. Unfortunately the magic tools she brought for Yuuki proved ineffective (at the moment) and while receiving a lecture from Creditta about favouring these 'commoners', the plaza is attacked by Kariza and his monsters.
            Though Pecorine insists on joining the fight, she is encouraged by Goushin and Kyaru to instead retreat so that she may perform her role as Princess. After the battle is resolved, Pecorine is seen attending a meeting as they discuss
            how they are to handle the following recovery. There she is met by Neneka who warns her of a fore-coming disaster. Upon Kariza's return, Pecorine appears once more with the knowledge from Neneka. After a moment of confusion, she is
            able to transform alongside Yui into her Princess Form. In this new form she and Yui are able to easily defeat Kariza's powered up monsters.
        </p>
    </div>
    <div id="content-history">
        <h3>4. Trong đời sống thật</h3>
        <p>
            Pecorine is a human-race member in the game with long, orange hair and light blue eyes. Her hair extends below her waist and appears to fade into a slightly more yellow tinge. It mostly hangs freely, but a section is braided behind her
            right ear. She also has a noticeably large ahoge. On the left side of her head she has a red ribbon tied in her hair and she wears her Royal Armament, which is a jewel-looking tiara. She wears a blue and white blouse with a window
            cut around the collarbone area. On her right shoulder is a large armor plate. She has white gloves on both of her hands and a black sleeve that goes up her entire right arm. She wields a giant sword, which has a bitemark on the blade.
            Pecorine is a human-race member in the game with long, orange hair and light blue eyes. Her hair extends below her waist and appears to fade into a slightly more yellow tinge. It mostly hangs freely, but a section is braided behind
            her right ear. She also has a noticeably large ahoge. On the left side of her head she has a red ribbon tied in her hair and she wears her Royal Armament, which is a jewel-looking tiara. She wears a blue and white blouse with a window
            cut around the collarbone area. On her right shoulder is a large armor plate. She has white gloves on both of her hands and a black sleeve that goes up her entire right arm. She wields a giant sword, which has a bitemark on the blade.
            Pecorine is a human-race member in the game with long, orange hair and light blue eyes. Her hair extends below her waist and appears to fade into a slightly more yellow tinge. It mostly hangs freely, but a section is braided behind
            her right ear. She also has a noticeably large ahoge. On the left side of her head she has a red ribbon tied in her hair and she wears her Royal Armament, which is a jewel-looking tiara. She wears a blue and white blouse with a window
            cut around the collarbone area. On her right shoulder is a large armor plate. She has white gloves on both of her hands and a black sleeve that goes up her entire right arm. She wields a giant sword, which has a bitemark on the blade.
            Pecorine is a human-race member in the game with long, orange hair and light blue eyes. Her hair extends below her waist and appears to fade into a slightly more yellow tinge. It mostly hangs freely, but a section is braided behind
            her right ear. She also has a noticeably large ahoge. On the left side of her head she has a red ribbon tied in her hair and she wears her Royal Armament, which is a jewel-looking tiara. She wears a blue and white blouse with a window
            cut around the collarbone area. On her right shoulder is a large armor plate. She has white gloves on both of her hands and a black sleeve that goes up her entire right arm. She wields a giant sword, which has a bitemark on the blade.
            Pecorine is a human-race member in the game with long, orange hair and light blue eyes. Her hair extends below her waist and appears to fade into a slightly more yellow tinge. It mostly hangs freely, but a section is braided behind
            her right ear. She also has a noticeably large ahoge. On the left side of her head she has a red ribbon tied in her hair and she wears her Royal Armament, which is a jewel-looking tiara. She wears a blue and white blouse with a window
            cut around the collarbone area. On her right shoulder is a large armor plate. She has white gloves on both of her hands and a black sleeve that goes up her entire right arm. She wields a giant sword, which has a bitemark on the blade.
            Pecorine is a human-race member in the game with long, orange hair and light blue eyes. Her hair extends below her waist and appears to fade into a slightly more yellow tinge. It mostly hangs freely, but a section is braided behind
            her right ear. She also has a noticeably large ahoge. On the left side of her head she has a red ribbon tied in her hair and she wears her Royal Armament, which is a jewel-looking tiara. She wears a blue and white blouse with a window
            cut around the collarbone area. On her right shoulder is a large armor plate. She has white gloves on both of her hands and a black sleeve that goes up her entire right arm. She wields a giant sword, which has a bitemark on the blade.
        </p>
    </div>
</div>

<script>
    $(document).ready(function (e){
        $('#myImage').attr('src', '/Images/charCard/MX' + '@Model.CharId' + '.png?' + Math.random()+'');
    })
</script>

<script>
    $("#like").click(function (e) {
        e.preventDefault();
        e.stopPropagation();

        @*@if (Session["User"] == null){
            alert("Bạn cần đăng nhập, oke!");
        }*@

        var content = {
            'CharId': '@Model.CharId',
        };
        $.ajax({
            url: "../updateLike",
            type: "POST",
            data: content,
/*            contentType: "application/json",*/
            success: function (data) {
                $('#ThongTinNhanVat').load('@Url.Action("setSection", "Char")?flag=sectionChiTiet&&Id=' + '@Model.CharId');
                }
            })
    })
</script>
