@model PriCone.Models.dataModels.Skill
@{
    Layout = null;
}

<div class="Skill-Containner">
    <img src="~/Content/FullArtMuimi.png">
    <table>
        <tr>
            <td>Kỹ năng Union Burst</td>
            <td>@Model.UB</td>
        </tr>
        <tr>
            <td>Kỹ năng 1</td>
            <td>@Model.Skill1</td>
        </tr>
        <tr>
            <td>Kỹ năng 2</td>
            <td>@Model.Skill2</td>
        </tr>
        <tr>
            <td>Kỹ năng Ex</td>
            <td>@Model.ExSkill</td>
        </tr>
        <tr>
            <td>Kỹ năng Enhanced</td>
            <td>@Model.EnSkill</td>
        </tr>
        <tr>
            <td>Kỹ năng Enhanced Union Burst</td>
            <td>@Model.EnUB</td>
        </tr>
    </table>
</div>
