<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    @RenderSection("header", false)
</head>

<body>
    <div class="header" id="header">
        <header>
            <div class="topnav">
                <div id="logo-left">
                    <div id="logo" class="active" onclick="openNav()"><a href="#">&#9776; </a></div>
                </div>
                <div id="img-left">
                    <img id="logo-image" src="~/Content/Wiki-wordmark.png">
                </div>
                <div id="login-right">
                    <a href="@Url.Action(ViewBag.Login,"Char", new { Id = ViewBag.idUser })">@ViewBag.CheckLogin</a>
                    <a style="display: @ViewBag.display;" href="@Url.Action("Logout","Char")">Đăng xuất</a>
                </div>
                <div id="img-left">
                    <p style="font-weight: bold;font-family: Arial, Helvetica, sans-serif; text-align: center;">Princess Connect! Re:Dive Character</p>
                </div>
                <!-- <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a> -->
            </div>
        </header>

        <div id="mySidenav" class="sidenav">
            <a href="@Url.Action("TrangChu", "Char")">Trang chủ</a>
            <a href="#">Liên hệ</a>
            <a href="#">Đăng nhập</a>
            <a href="#">Đăng ký</a>
            <a href="#">About</a>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>

        <div class="ThanhChucNang">
            <a href="@Url.Action("TrangChu", "Char")">Trang chủ</a>
            <a href="#">Cốt truyện</a>
            <a href="#">Thông tin nhân vật</a>
            <a href="#">các bộ trang bị</a>
            <a href="#">Gatcha</a>
        </div>
    </div>

    <div id="main">
        @RenderBody()
    </div>
</body>

</html>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "230px";
        document.getElementById("main").style.marginRight = "50px";
        document.getElementById("header").style.marginRight = "50px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("header").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "150px";
        document.getElementById("main").style.marginRight = "150px";
        document.getElementById("header").style.marginLeft = "150px";
        document.getElementById("header").style.marginRight = "150px";
    }
</script>
